<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653229579252-9e938d08h8c7864bm5ji302ro2n9rn0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653229579252-9e938d08h8c7864bm5ji302ro2n9rn0p</string>
	<key>API_KEY</key>
	<string>AIzaSyDVs6v-EFNs_1XhdH01BtRrazhWaN8JHaY</string>
	<key>GCM_SENDER_ID</key>
	<string>653229579252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-889d8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-889d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653229579252:ios:3cdc6492cc466cebc537a1</string>
</dict>
</plist>